xml/2/lab2 with scheme.xml

<?xml version = "1.0" encoding = "UTF-8"?>
<?xml-stylesheet type = "text/css" href = "lab_1_style.css"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="speciality">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element name="university" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="uniName" type="xs:string"/>
                            <xs:element name="passingScore" type="xs:string"/>
                            <xs:element name="recruitmentPlan" type="xs:string"/>
                            <xs:element name="city" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

    <speciality>
        <university>
            <uniName>БГУИР</uniName>
            <passingScore>369</passingScore>
            <recruitmentPlan>24</recruitmentPlan>
            <city>Минск</city>
        </university>

        <university>
            <uniName>БНТУ</uniName>
            <passingScore>334</passingScore>
            <recruitmentPlan>50</recruitmentPlan>
            <city>Барановичи</city>
        </university>

        <university>
            <uniName>ВГУ им. П. М. Машерова</uniName>
            <passingScore>277</passingScore>
            <recruitmentPlan>27</recruitmentPlan>
            <city>Витебск</city>
        </university>

        <university>
            <uniName>ГГУ им. Франциска Скорины</uniName>
            <passingScore>321</passingScore>
            <recruitmentPlan>27</recruitmentPlan>
            <city>Гомель</city>
        </university>
    </speciality>

</xs:schema>